<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>795525983692-7o2bfj2d62upnajp3iidlb42t0enl4sd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.795525983692-7o2bfj2d62upnajp3iidlb42t0enl4sd</string>
	<key>API_KEY</key>
	<string>AIzaSyCKCjeeEGiAxzc84sd7e_To03pC6wp1hVU</string>
	<key>GCM_SENDER_ID</key>
	<string>795525983692</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.remoteControlTask</string>
	<key>PROJECT_ID</key>
	<string>lionsremote-c50db</string>
	<key>STORAGE_BUCKET</key>
	<string>lionsremote-c50db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:795525983692:ios:4cb9140cb7538903014169</string>
</dict>
</plist>